In [12]:
import pandas as pd               
from sklearn.model_selection import train_test_split   
from sklearn.preprocessing import StandardScaler, LabelEncoder 
import pickle

In [1]:
!pip install pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn) (3.5.0)

In [6]:
!pip install tensorflow==2.15.0

Collecting tensorflow==2.15.0
  Using cached tensorflow-2.15.0-cp310-cp310-win_amd64.whl.metadata (3.6 kB)
Collecting tensorflow-intel==2.15.0 (from tensorflow==2.15.0)
  Using cached tensorflow_intel-2.15.0-cp310-cp310-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (24.12.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (18.1.1)
Collecting ml-dtypes~=0.2.0 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached ml_dtypes-0.2.0-cp310-cp310-win_amd64.whl.metadata (20 kB)
Collecting numpy<2.0.0,>=1.23.5 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached numpy-1.26.4-cp310-cp310-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.4.0)
Requirement already satisfied: packaging in c:\users\omen\appdata\roaming\python\python310\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (24.2)
Collecting protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached protobuf-4.25.6-cp310-abi3-win_amd64.whl.metadata (541 bytes)
Requirement already satisfied: setuptools in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (75.8.0)
Requirement already satisfied: six>=1.12.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\omen\appdata\roaming\python\python310\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (4.12.2)
Collecting wrapt<1.15,>=1.11.0 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached wrapt-1.14.1-cp310-cp310-win_amd64.whl.metadata (6.7 kB)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0) (1.69.0)
Collecting tensorboard<2.16,>=2.15 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached tensorboard-2.15.2-py3-none-any.whl.metadata (1.7 kB)
Collecting tensorflow-estimator<2.16,>=2.15.0 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached tensorflow_estimator-2.15.0-py2.py3-none-any.whl.metadata (1.3 kB)
Collecting keras<2.16,>=2.15.0 (from tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached keras-2.15.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow==2.15.0) (0.45.1)
Collecting google-auth<3,>=1.6.3 (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached google_auth-2.38.0-py2.py3-none-any.whl.metadata (4.8 kB)
Collecting google-auth-oauthlib<2,>=0.5 (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached google_auth_oauthlib-1.2.1-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: markdown>=2.6.8 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.7)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (2.32.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.1.3)
Collecting cachetools<6.0,>=2.0.0 (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Collecting pyasn1-modules>=0.2.1 (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached pyasn1_modules-0.4.1-py3-none-any.whl.metadata (3.5 kB)
Collecting rsa<5,>=3.1.4 (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached rsa-4.9-py3-none-any.whl.metadata (4.2 kB)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached requests_oauthlib-2.0.0-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (2024.12.14)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\omen\anaconda3\envs\tensorflow_env\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0) (3.0.2)
Collecting pyasn1<0.7.0,>=0.4.6 (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached pyasn1-0.6.1-py3-none-any.whl.metadata (8.4 kB)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow==2.15.0)
  Using cached oauthlib-3.2.2-py3-none-any.whl.metadata (7.5 kB)
Using cached tensorflow-2.15.0-cp310-cp310-win_amd64.whl (2.1 kB)
Using cached tensorflow_intel-2.15.0-cp310-cp310-win_amd64.whl (300.9 MB)
Using cached keras-2.15.0-py3-none-any.whl (1.7 MB)
Using cached ml_dtypes-0.2.0-cp310-cp310-win_amd64.whl (938 kB)
Using cached numpy-1.26.4-cp310-cp310-win_amd64.whl (15.8 MB)
Using cached protobuf-4.25.6-cp310-abi3-win_amd64.whl (413 kB)
Using cached tensorboard-2.15.2-py3-none-any.whl (5.5 MB)
Using cached tensorflow_estimator-2.15.0-py2.py3-none-any.whl (441 kB)
Using cached wrapt-1.14.1-cp310-cp310-win_amd64.whl (35 kB)
Using cached google_auth-2.38.0-py2.py3-none-any.whl (210 kB)
Using cached google_auth_oauthlib-1.2.1-py2.py3-none-any.whl (24 kB)
Using cached cachetools-5.5.2-py3-none-any.whl (10 kB)
Using cached pyasn1_modules-0.4.1-py3-none-any.whl (181 kB)
Using cached requests_oauthlib-2.0.0-py2.py3-none-any.whl (24 kB)
Using cached rsa-4.9-py3-none-any.whl (34 kB)
Using cached oauthlib-3.2.2-py3-none-any.whl (151 kB)
Using cached pyasn1-0.6.1-py3-none-any.whl (83 kB)
Installing collected packages: wrapt, tensorflow-estimator, pyasn1, protobuf, oauthlib, numpy, keras, cachetools, rsa, requests-oauthlib, pyasn1-modules, ml-dtypes, google-auth, google-auth-oauthlib, tensorboard, tensorflow-intel, tensorflow
  Attempting uninstall: wrapt
    Found existing installation: wrapt 1.17.2
    Uninstalling wrapt-1.17.2:
      Successfully uninstalled wrapt-1.17.2
  Attempting uninstall: protobuf
    Found existing installation: protobuf 5.29.3
    Uninstalling protobuf-5.29.3:
      Successfully uninstalled protobuf-5.29.3
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
  Attempting uninstall: keras
    Found existing installation: keras 3.8.0
    Uninstalling keras-3.8.0:
      Successfully uninstalled keras-3.8.0
  Attempting uninstall: ml-dtypes
    Found existing installation: ml-dtypes 0.4.1
    Uninstalling ml-dtypes-0.4.1:
      Successfully uninstalled ml-dtypes-0.4.1
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.18.0
    Uninstalling tensorboard-2.18.0:
      Successfully uninstalled tensorboard-2.18.0
  Attempting uninstall: tensorflow-intel
    Found existing installation: tensorflow_intel 2.18.0
    Uninstalling tensorflow_intel-2.18.0:
      Successfully uninstalled tensorflow_intel-2.18.0
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.18.0
    Uninstalling tensorflow-2.18.0:
      Successfully uninstalled tensorflow-2.18.0
Successfully installed cachetools-5.5.2 google-auth-2.38.0 google-auth-oauthlib-1.2.1 keras-2.15.0 ml-dtypes-0.2.0 numpy-1.26.4 oauthlib-3.2.2 protobuf-4.25.6 pyasn1-0.6.1 pyasn1-modules-0.4.1 requests-oauthlib-2.0.0 rsa-4.9 tensorboard-2.15.2 tensorflow-2.15.0 tensorflow-estimator-2.15.0 tensorflow-intel-2.15.0 wrapt-1.14.1

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tf-keras 2.18.0 requires tensorflow<2.19,>=2.18, but you have tensorflow 2.15.0 which is incompatible.

In [13]:
df = pd.read_csv('D:\ANN_Customer_churn\Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
# Preprocess the data
# RowNumber	CustomerId	Surname- not important so drop 
df = df.drop(['RowNumber',	'CustomerId',	'Surname'], axis=1)

In [15]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [17]:
# one-hot geography column because geography has 3 categorical values nd since ANN is all about numbers if France-0, Spain-1, Germany-2: it will assume while calcukating Germany-2 > France-0 which shall not happen 
from sklearn.preprocessing import OneHotEncoder 
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [18]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [19]:
onehot_encoder_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [20]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns= onehot_encoder_geo.get_feature_names_out() )
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [21]:
# Now combining one hot encoded columns with original data
df = pd.concat([df.drop(['Geography'],axis=1), geo_encoded_df], axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [22]:
# Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [23]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [24]:
# Divide dataset into independent and dependent features 
X = df.drop('Exited', axis=1)
y = df['Exited']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale these features for faster model training 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [26]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

ANN Implementation

In [27]:
import tensorflow as tf          
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense                
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\OMEN\anaconda3\envs\tensorflow_env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [28]:
X_train.shape[1]

12

In [29]:
# Build our ANN model 
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), #HL1 connected with input layer
    Dense(32, activation='relu'), #HL2
    Dense(1, activation='sigmoid') #Output Layer 
])

WARNING:tensorflow:From c:\Users\OMEN\anaconda3\envs\tensorflow_env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [31]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy

In [32]:
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [33]:
# Set up the tensorboard 
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d - %H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [34]:
# Set up Early Stopping 
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [35]:
# Train the model 
history =  model.fit(
    X_train,y_train,validation_data = (X_test, y_test), epochs=100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\OMEN\anaconda3\envs\tensorflow_env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\OMEN\anaconda3\envs\tensorflow_env\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 0.3933 - accuracy: 0.8353 - val_loss: 0.3533 - val_accuracy: 0.8535
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3607 - accuracy: 0.8524 - val_loss: 0.3413 - val_accuracy: 0.8615
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3487 - accuracy: 0.8565 - val_loss: 0.3428 - val_accuracy: 0.8580
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8606 - val_loss: 0.3415 - val_accuracy: 0.8580
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8614 - val_loss: 0.3397 - val_accuracy: 0.8610
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8614 - val_loss: 0.3389 - val_accuracy: 0.8565
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8606 - val_loss: 0.3401 - val_accuracy: 0.8590
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8624 - val_loss: 0.3445 - val_accuracy: 0.8525
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8633 - val_loss: 0.3379 - val_accuracy: 0.8655
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8662 - val_loss: 0.3382 - val_accuracy: 0.8700
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8631 - val_loss: 0.3380 - val_accuracy: 0.8665
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3256 - accuracy: 0.8673 - val_loss: 0.3540 - val_accuracy: 0.8535
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3264 - accuracy: 0.8665 - val_loss: 0.3400 - val_accuracy: 0.8605
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3247 - accuracy: 0.8699 - val_loss: 0.3523 - val_accuracy: 0.8580

In [36]:
model.save('model.h5')

c:\Users\OMEN\anaconda3\envs\tensorflow_env\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [37]:
# Load tensorboard extension 
%load_ext tensorboard

In [38]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 35936), started 1:40:07 ago. (Use '!kill 35936' to kill it.)

In [39]:
from tensorboard import notebook
notebook.list()  # Lists active instances

Known TensorBoard instances:
  - port 6006: logdir logs/fit (started 15:55:59 ago; pid 32364)
  - port 6006: logdir logs/fit (started 1:40:07 ago; pid 35936)

In [40]:
notebook.display(port=6006)

Selecting TensorBoard with logdir logs/fit (started 1:40:07 ago; port 6006, pid 35936).

In [41]:
!kill 32364

kill: 32364: No such process